.menu__title__container {
  color: #fff;
}

.menu__title__container h1 {
  padding: 3rem 0;
  font-size: 18rem;
  font-family: sans-serif;
  text-align: center;
  font-weight: 900;
}
.menu__title__container hr {
  margin: 0.25rem 0;
}
